$main-color: #e4d804;
$white: #ffffff;
$black: #000000;
$bg-color: #120f18;
$header-color: #171d22;
$bg-btn-color: #12151e;
$bg-btn-color-2: #0b1110;
$bg-btn-color-3: #242c38;

$toast-error-color: #ff3333;
$toast-success-color: #22bb33;
$toast-warning-color: #f0ad4e;

$gap-2: 2rem;

$img-w-6: 6rem;
$img-h-6: 6rem;
$img-border-radius: 2rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
